body { 
	font-size: 16px!important;
	background: #F7F7F7;
}

.print-template{
	width: 297mm;
    height: 210mm;
    padding: 5mm;
    margin: 5mm auto;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background: #f2f2f2;
    /*box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);*/
}

@page {
    size: A4;
    margin: 0;
}
@media print {
	@page { 
        size: landscape;
	}    
    html, body {
        width: 297mm;
        height: 210mm;
        border: 0px !important;
	    box-shadow: 0px !important;
	    -webkit-print-color-adjust:exact;
		-moz-print-color-adjust:exact;
		-ms-print-color-adjust:exact;
		print-color-adjust:exact;        
    }
    .card-body textarea{
    	border: none !important;
    }
    .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
    .note-area > .card-deck .card .card-header{
        padding: .3rem 1rem !important;
		margin-bottom: 0 !important;
		background-color: #dedfdf !important;
		border-bottom: 0.5px solid grey !important;
	}
	.card-body{
		padding: 0.5em !important;
	}
	.print-btn, .addImgHint, .del-btn, .justify-content-between{
		display: none !important;
	}
	.page-break{
		margin-top: 3em;
		page-break-before: always !important;
	}
	.print-template, .full-area, .container-fluid > .card{
		border: none;
	}
	.container-fluid{
		padding-left: 0px;
		padding-right: 0px;
	}
}

.hospital-logo{
	width: 30px;
	height: 30px;
	margin-right: 10px;
}

.btn-group button{
	margin-right: 15px;
}

.user-info, .btn-group button{
	display:inline;
}

.logo-size{
   height: 50px;
}

.logo{
  float: left;
}

.logo > div{
  width: 45px; /*更改成與高度相同值即可*/
  height: 45px; /*更改成與寬度相同值即可*/
  float: left;
}

.outer-square {
  width: 100%;
  height: 100%;
  background: #00B6F1;
  position: relative;
  overflow: hidden;
}

.outer-circle {
  width: 160%;
  height: 160%;
  background: #fff;
  -moz-border-radius: 30%;
  -webkit-border-radius: 30%;
  border-radius: 50%;
  top: 20%;
  left: 20%;
  position: relative;
}

.inner-circle {
  width: 80%;
  height: 80%;
  background: #00B6F1;
  -moz-border-radius: 30%;
  -webkit-border-radius: 30%;
  border-radius: 50%;
  top: 12%;
  left: 12%;
  position: relative;
}

.inner-square {
  width: 25%;
  height: 25%;
  background: #FFF;
  position: relative;
  top: 24%;
  left: 24%;
}

.logo-text{
  float: left;
  margin: 0 0 0 20px;
  width: 150px;
  color: #000000;
  text-align: left;
  font-family: Arial, "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", sans-serif;
}

.zht{
  font-size: 16px;
  font-weight: bold;
  line-height: 1.4;
  letter-spacing: 2px;
}

.en{
  font-size: 9px;
  line-height: 1.1;
  width: 80%
}

.title-text{
  float: left;
  text-align: left;
  height: 45px;
  display:table;
  font-size: 20px;
}

.title-text span{
	display: table-cell;
	vertical-align: middle;
}

.title-text span p{
	display: inline;
}

.patient-table{
	font-size: 14px;
}

/* search settings */
select.form-control{
	width: 150px !important;
}

/* search settings */


.input-group{
	margin-bottom: 15px;
}

.card{
	border: 1px solid #c6c7c9;
	
}

.card-header .fa{
	color: #000;
}

/*.card-header{
	width: auto;
	font-size: 18px;
	text-align: center;
	padding: 0.5em 0.5em 0 0.5em;
	letter-spacing: 1px;
	border-radius: 0 0 0 0;
	background: #ffffff;
	border: 0px;
	text-align: left;
	margin-left: 5px; 
}*/

.card-body{
	padding: 0.5em;
}

.bootstrap-datatable{
	table-layout: fixed;
}

.input-group span.btn:hover{
	color: #fff;
	background-color: #999999;
}

.input-group-addon:last-child{
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.btn-group{
	padding: 0px;
	text-align: right;
	margin-bottom: 15px;
	font-size: 16px;
}

.title{
	color: #007ec8;
	padding: 0.5rem 0;
}

optgroup[label] {
    background-color: #ffd480;
}

option {
	background-color: #fff;
}


/*列印報告*/
.print-btn{
	position: fixed;
	font-size: 18px;
	width: 130px;
	right: 20mm;
}
.print-btn:nth-child(1){
	bottom: 20mm;
}
.print-btn:nth-child(2){
	bottom: 10mm;
}

/*列印報告*/


.addImgHint{
	color: currentColor;
	text-align: center;
	height: 100px;
	display:table;
}

.addImgHint  a{
	text-decoration: none;
}

ul.thumbnails{
	text-align: center;
}

ul.thumbnails.image_picker_selector li.group_title{
	text-align: left;
	margin-bottom: 10px;
	font-weight: 600;
}

.image_block{
	background-color: white;
    border: 0.5px solid #EEEEDE;
    border-radius: 0.5vw;
    padding: 5px;
    margin-right: 5px;
    text-align: center;
    vertical-align: text-top;
    display: inline-table;
}

.image_container {
    border: 0.5vw solid transparent;
    height: 150px;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.image_desc {
    background-color: transparent;
    margin: 0;
    padding: 0;
    font-size: 16px;
    vertical-align: middle;
    text-align: center;
    display: block;
    color: #808080;
}

.image_block{
	position: relative;
}

.image_block span {
	font-size: 0.85rem;
	display: inline-block;
	cursor: pointer;
	position: absolute;
	top: -5px;
	left: -5px;
	color: #ff6666;
	z-index: 99;
}

.image_block span:hover{
	color: #ff4d4d;
}


.img-area ul{
	list-style: none outside none;
	padding: 0;
	margin-bottom: 0;
	width: 100%;
	height: 49.5%;
	text-align: center;	
	margin-bottom: 10px;
	border-radius: 2px;
	background: #fff;
	border: 0.5px solid grey;
	/*box-shadow: 0 4px 2px -2px grey;*/
}

.img-grp{
	position: relative;
	padding: 0;
	width: 100%;
	height: 350px;
	text-align: center;	
	margin-bottom: 10px;
	border-radius: 2px;
	background: #fff;
	border: 0.5px solid grey;
	text-align:center;
}

.img-grp img{
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;	
}

.img-hint{
	display: table;
}

.img-area ul a{
	display: table-cell;
	vertical-align: middle;
}

.img-area ul a img{
	width: 100px;
	height: 100px;	
}

.img-area ul a h4{
	margin-top: 10px;
}

.isDisabled{
	color: currentColor;
	cursor: default;
	text-decoration: none;
	opacity: 0.8;
}

.container-fluid{
	width: 100%;
}

.handle-note, .prescription{
	height: 150px;
}

.card{
	border-radius: 2px;
	border: 0.5px solid grey;
}

.card-header{
	background: #dedfdf;
	border-top-left-radius: 2px !important;
	border-top-right-radius: 2px !important;
	border-bottom: 0.5px solid grey !important;
}

.card-body textarea{
	border: 0.5px solid lightgrey;
	font-size: 16px;
}

.img-blk{
	padding-left: 0px;
	padding-right: 0px;
}

.full-area{
	padding: 0px;
}

.frame {
  height: 100%; /*can be anything*/
  width: auto; /*can be anything*/
  display: inline-block;
  vertical-align: top; /*not required*/
  border: 1px solid black; /*not required*/
  position: relative;
}

.frame img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.list-select{
	width: 20px;
	height: 20px;
	float: right;
}

.list-select:hover{
	cursor: pointer;
}

.list-group{
	margin: 10px 0px;
}

.treeview{
	font-family: 'Microsoft JhengHei'
}

.list-group-item{
	font-weight: 500;
}

/* everything below is not required */
.frame span {
  font-family: arial, sans-serif;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  font-size: 12px;
}