body {
    width: 210mm;
    min-height: 297mm;
    padding: 0mm;
    margin: 10mm auto;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
html{
	background: #F7F7F7;
}
@page {
    size: A4;
    margin: 0;
}
@media print {
    html, body {
        width: 210mm;
        height: 297mm;
        border: 0px !important;
	    box-shadow: 0px !important;
	    -webkit-print-color-adjust:exact;
		-moz-print-color-adjust:exact;
		-ms-print-color-adjust:exact;
		print-color-adjust:exact;        
    }
    .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
    .img-template > .card-deck .card .card-header{
        padding: 0.25rem 1rem !important;
		margin-bottom: 0 !important;
		background-color: rgba(0, 0, 0, 0.03) !important;
		border-bottom: 1px solid rgba(0, 0, 0, 0.4) !important;				
	}
	.report-info tbody tr td:nth-child(even){
		color: #1b54b1 !important;
	}
	.tablesorter-headerRow{
		color: #000 !important;
		background: #ffd480 !important;
	}
	.print-btn, .addImgHint, .del-btn{
		display: none !important;
	}
	.page-break{
		margin-top: 1.5em;
		page-break-before: always !important;
	}
}

input[type=text], input[type=checkbox], textarea{
	pointer-events: none;
}

/*���i���Y*/
.logo{
	text-align: left;
}
.title-header{
	width: 100%;
	margin-bottom: 20px;
	border-bottom:  1.5px solid #999999;
}
.title{
	font-size: 24px;
	text-align: center;
}
.load-time{
	font-size: 14px;
	text-align: right;
	color: #cccccc;	
}
.hospital-logo{
	width: 60px;
	height: 60px;
	margin-bottom: 0px;
}
.modal-body img{
	margin-bottom: 0px;
}
/*���i���Y*/

/*�f�w��T�P�ˤf��T���e*/
.report-info{
	width: 100%;
}
.report-info tbody tr td{
	padding: 0.25rem;
}
.report-info tbody tr td:nth-child(odd){
	font-weight: 600;
	width: 105px;
	vertical-align: baseline;
}
.report-info tbody tr td:nth-child(even){
	color: #1b54b1;
}
.report-info tbody > .analytic > td:nth-child(odd){
	width: 10%;
}
.report-info tbody > .analytic > td:nth-child(even){
	width: 15%;
}
/*�f�w��T�P�ˤf��T���e*/

/*�ñФ��e*/
.eduList, .solvingInfo{
	padding: 0 1.25em;
	text-align: left;
}
.eduList label, .solvingInfo label{
	display: block;
}
/*�ñФ��e*/

/*�ˤf�B�m��T*/
.method-table{
	width: 100%;
}
.tablesorter-headerRow{
	color: #000;
	background: #ffd480;
}
.method-table thead tr th,
.method-table tbody tr td{
	padding: 0.25em ;
}
/*�ˤf�B�m��T*/

/*�����˴��ƾ�*/
.analy-table tbody tr td input[type=text]{
	width: 80px;
	height: 25px;
}
.analy-table tbody tr td{	
	color: #555;
}
.analy-table tbody tr td.loc,
.analy-table tbody tr td.title,
.exam-table tbody tr td.title{
	text-align: center;
	color: #000000;
	font-size: 14px;
}
.analy-table td.title,
.exam-table td.title{
	background: #eeefef;
	font-weight: 600;
}
.analy-table tbody tr td.loc{
	width: 80px;
	background: #fff0b3;
	font-size: 18px!important;
	border-right: 2px solid #fff;
	font-weight: 600;
}
.analy-table tbody tr td:not(.loc),
.exam-table tbody tr td:not(.loc){
	padding: 7px 15px;
}
/*�����˴��ƾ�*/

/*�Ͷq�p�˴��ƾ�*/
.pd-5{
	padding: 0px 5px;
}
.detail{
	width: 100%;
	font-size: 10px;
}
.detail tbody tr td.title{
	font-size: 10px;
}
.detail tbody tr:first-child{
	border-bottom-style: double;
}
.detail tbody tr:not(:first-child) td:nth-child(2){
	border-right-style: double;
}
.detail tbody tr td:not(.loc){
	padding: 6px 3px;
}
.detail tbody tr:not(:first-child) td:not(.loc):nth-child(n+4){
	border-left: 0.5px solid #b0b5b5;
}
.detail tbody tr td input[type=text]{
	width: 50px;
	font-size: 10px;
}
.btm-line, .btm-line:focus, .btm-line:active, .btm-line:visited{
	outline: 0;
	border-width: 0px;
	display: inline;
  	pointer-events: none;
  	text-align: right;
}
/*�Ͷq�p�˴��ƾ�*/

/*ť�O�ˬd���˴��ƾ�*/
.direction{
	background: #fff0b3;
	font-size: 18px!important;
	font-weight: 600;
	text-align: center;
}

.audio-meters-detail{
	width: 100%;
	font-size: 10px;
}

.audio-meters-detail tbody tr td input[type=text]{
	width: 60px !important;
	text-align: center;
}

.audio-meters-detail tbody tr td input[type=text],
.audio-meters-detail tbody tr td input[type=text]:focus, 
.audio-meters-detail tbody tr td input[type=text]:active, 
.audio-meters-detail tbody tr td input[type=text]:visited{
	outline: 0;
  	display: inline;
  	border-width: 0 0 0;
  	pointer-events: none; 	
}

.audio-meters-detail tbody tr td:nth-child(even) input[type=text],
.audio-meters-detail tbody tr td:nth-child(even) input[type=text]:focus, 
.audio-meters-detail tbody tr td:nth-child(even) input[type=text]:active, 
.audio-meters-detail tbody tr td:nth-child(even) input[type=text]:visited{
  	border-width: 0 0 0.5px;
  	font-weight: 600;	
}

/*ť�O�ˬd���˴��ƾ�*/

/*�˴����p*/
.exam-table{
	width: 100%;
	margin-bottom: 5px;
}
.exam-table tbody tr td label input[type=checkbox]:checked + span{
  	color: red;
  	font-weight: 600;
}
.exam-table tbody tr td{	
	color: #555;
}
.exam-table td.title{
	width: 150px;
}

/*�C�L���i*/
.print-btn{
	position: fixed;
	font-size: 18px;
	width: 130px;
	right: 20mm;
}
.print-btn:nth-child(1){
	bottom: 20mm;
}
.print-btn:nth-child(2){
	bottom: 10mm;
}

/*�C�L���i*/


.addImgHint{
	color: currentColor;
	text-align: center;
	height: 100px;
	display:table;
}

.addImgHint  a{
	text-decoration: none;
}

ul.thumbnails.image_picker_selector li.group_title{
	text-align: left;
	margin-bottom: 10px;
	font-weight: 600;
}

.image_block{
	background-color: white;
    border: 0.5px solid #EEEEDE;
    border-radius: 0.5vw;
    padding: 5px;
    /*margin-right: 5px;*/
    text-align: center;
    vertical-align: text-top;
    display: inline-table;
}

.image_container {
    border: 0.5vw solid transparent;
    height: 150px;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.image_desc {
    background-color: transparent;
    margin: 0;
    padding: 0;
    font-size: 16px;
    vertical-align: middle;
    text-align: center;
    display: block;
    color: #808080;
}

.image_block{
	position: relative;
}

.image_block span {
	font-size: 0.85rem;
	display: inline-block;
	cursor: pointer;
	position: absolute;
	top: -5px;
	left: -5px;
	color: #ff6666;
	z-index: 99;
}

.image_block span:hover{
	color: #ff4d4d;
}