/* 步驟進度條設計 */

.progressBar {
    padding: 0;
    list-style-type: none;
    font-size: 16px;
    font-weight: 600;
    clear: both;
    line-height: 1em;
    margin: 10px 0;
    display: flex;
    margin-bottom: 10px;
    box-shadow: 4px 0 4px -2px rgba(0, 0, 0, 0.2);
    counter-reset: step-counter;
}

.progressBar li {
	flex: 1;
    padding: 10px 0;
    background: #ffffff;
    color: #000;
    position: relative;
    text-align: center;
    counter-increment: step-counter;
}

.progressBar li:hover{
	cursor: pointer;
	background: #ffffff;
}

.progressBar li:first-child{
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.progressBar, .progressBar li:last-child{
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.progressBar li:before {
    content: counter(step-counter) "、" !important;
    position: relative;
}

.progressBar li:not(:first-child):before {
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
    top: 0;
    left: 0;
}

.progressBar li:first-child:before{
	border: none;
}

.progressBar li:not(:last-child):after {
    content: '';
    border-left: 18px solid #ffffff;
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 20;
}

.progressBar li.active {
	font-weight: 600;
	color: #ffffff;
	text-shadow: 1px 1px 0 #444;
    background: #2e6eb8;
}

.progressBar li.active:after {
    border-left-color: #2e6eb8;
}

.progressBar li.done,.progressBar li.touched {
	font-weight: 600;
    background: #adcaeb;
    color: grey;
}

.progressBar li.done:after, .progressBar li.touched:after {
    border-left-color: #adcaeb;
}

/* 當 done 和 active 同時存在時，以 active 樣式為主 */
.progressBar li.done.active {
    background: #2e6eb8; /* 深藍色 */
    color: #ffffff; /* 白色文字 */
    text-shadow: 1px 1px 0 #444;
}

/* 當 done 和 active 同時存在時，以 active 樣式為主 */
.progressBar li.done.active:after {
	border-left-color: #2e6eb8;
}

/* 當 touched 與 active 同時存在時，呈現與 active 與 done 一樣的樣式 */
.progressBar li.touched.active {
    background: #2e6eb8;      /* 與 active 狀態相同的背景色 */
    color: #ffffff;           /* 文字改為白色 */
    text-shadow: 1px 1px 0 #444;
}

.progressBar li.touched.active:after {
    border-left-color: #2e6eb8;
}

/* 個案重要資訊呈現樣式 */
.patient-info {
  	display: flex;
  	width: 100%;
  	border: none;
  	padding: 5px 0;
  	margin-bottom: 10px;
  	background-color: #f9f9f9;
  	border-radius: 6px;
}

.info-block {
  	min-width: 80px;
  	padding: 0 16px;
  	text-align: left;
  	display: flex;
  	flex-direction: column;
  	justify-content: space-between; /* 上下對齊 */
  	height: 40px; /* 固定高度避免錯位 */
}

.info-block:not(:last-child) {
  	border-right: 1px solid #ddd;
}

.info-l {
  	font-size: 13px;
  	font-weight: bold;
  	color: #003366;
}

.info-v {
  font-size: 15px;
  color: #333;
}

/* 病患基本資料樣式 */
.card-topic{
	font-size: 1.5rem;
	margin-bottom: 10px;
	background: linear-gradient(to right, #d9d9d9, #ffffff);
	color: #404040;
	padding: 5px;
	font-weight: 600;
}

.card-topic:before{
	font-family: 'FontAwesome';
	margin-right: 5px;
	content: '\f0c8';
}

.card{
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label.form-label{
	font-size: 1.5rem;
}

.divider{
	margin: 15px 0;
}

/* 步驟按鈕樣式  */

.form-step {
	display: none;
}

.form-step.active {
	display: block;
}

.history-input {
	width: 100%;
}

.func-btn-edit, .func-btn-prev, .func-btn-next {
	color: #ffffff !important;
	font-size: 16px;
	font-weight: 600;
	text-shadow: 1px 1px 0 #444;
	padding: 7px 25px !important;
}

.func-btn-edit, .func-btn-prev {
	background: linear-gradient(274.95deg, #757575 9.04%, #A6A5A5 103.11%) !important;
}

.func-btn-next {
	background: linear-gradient(92.64deg, #01CB96 0%, #029D74 90.03%) !important;
}

.func-btn-edit:hover, .func-btn-prev:hover {
	background: linear-gradient(274.95deg, #595959 9.04%, #8C8C8C 103.11%) !important;
}

.func-btn-next:hover {
	background: linear-gradient(92.64deg, #00B783 0%, #027A5A 90.03%) !important;
}


/* container 樣式  */
.inline-cotainer select,
.inline-cotainer input[type='text']{
	/*width: calc(100% - 80px);*/
}

.input-group:not(.search-group){
	margin-bottom: 0px;
}

.zipcode select, .zipcode input[type='text']{
	min-width: 100px;
}

/* 預約會診區塊 樣式  */
.appointment-blks{
	display: flex;
	justify-content: space-between;
	padding: 0 5px;
}

/* 欄位顯示樣式(上下呈現)  */
.question-grp{
	margin-bottom: 10px;
}

.question-grp span{
	font-size: initial;
	font-weight: 600;
}

.question-grp select, .question-grp input{
	margin-top: 5px;
}

/* 欄位無法輸入樣式  */
input[type="text"]:disabled{
	background-color: #ffffff;
}

.option--disabled{
	cursor: not-allowed;
}

