.col-padding6{
	padding:6px;
}

.register-box-body, .login-box-body{
	background: #F5F5F5 none repeat scroll 0% 0%;
}

.error{
	color:red;
}

label{
	margin:0px 5px;
}

legend {
    margin-bottom: 0px;
    font-size: 16px;
    width: auto;
    margin-left: 20px;
    border: 0px none;
}

fieldset {
    border: 1px solid #999;
    padding: 10px;
    margin:5px 0px;
}

a{
	text-decoration: none !important;
}

.blocks .btn{
	overflow:hidden;
}

.blocks{
	border-spacing:5px;
}

.top-buffer { margin-top:20px; }

.form-lg{ width:90%; }

.form-sm{ width:40%; }

.no-top-margin{ margin: 0% auto; }

.skin-purple .main-footer{
	/*background-color: #605CA8;*/
}

.upper{
	text-transform: uppercase;
}

span, label, a{
	white-space: nowrap;
}

/*.register-box{ width:400px; }*/

.form-control-default {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 0px;
    line-height: 1.42857;
    vertical-align: middle;
    background-image: none;
}

.no-padding {
    padding: 0px !important;
}

.text-center{
	text-align: center;
}

a:hover{
	cursor: pointer;
}

img.img-responsive{
	width: 100%;
	height: auto;
}

@media (max-width: 767px) {
	/*label, ol.breadcrumb li, #tabheader>ul>li, #tabheader>ul>li>a{*/
	ol.breadcrumb li{
		display: block;
		width: 100%;
	}
	
	.form-control-default{
		height: auto;
	}
	td.fc-header-right, span.fc-button-today{
		display:none;
	}
}

@media (min-width: 768px) and (max-width: 1000px) {
	.navbar-toggle {
    	display: block;
    	right: 0px;
		position: absolute;
	}
	.navbar-collapse.collapse {
		display: none !important;
	}
	.collapse.in,  .collapsing{
    	display: block !important;
	}
	.navbar-collapse > .navbar-nav > li{
	    float: none;
	}
	.container > .navbar-collapse, .navbar-collapse > .navbar-nav{
		width: 100%;
	}
	.container {
	    width: 1000px;
	}
	.navbar-custom-menu{
		position: absolute;
		right: 60px;
	}
	.navbar-collapse {
		box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
	}
	.navbar-collapse.pull-left {
 	   float: none !important;
	}
	.container > .navbar-collapse{
		margin-right: -15px;
		margin-left: -15px;
	}
	.navbar-nav > li > a {
    	padding-top: 10px;
    	padding-bottom: 10px;
	}
	.navbar-nav {
		float:none;
	}
	.navbar-collapse.pull-left + .navbar-custom-menu {
	    display: block;
	    position: absolute;
	    top: 0;
	    right: 50px;
	}
	.navbar-collapse.in {
 	   overflow-y: auto !important;
	}
}

@media (min-width: 992px) and (max-width: 1000px){
	.navbar-collapse.pull-left + .navbar-custom-menu {
		margin-top:5px;
	}
}

.navbar-toggle {
	margin-top: 6px;
}

.skin-blue .main-header .navbar {
	background: #B0114B;
	height: 40px;
	min-height: 40px;
}

.nav-tabs > li > a {
	background: #F0F6F2;
	border: 1px solid #ddd;
}

.main-header{
	position:static;
}

.navbar-static-top {
    z-index: 100;
}

.nav > li > a {
	padding: 10px;
}

.fa-fw{
	width: 14.7px;
}

a.abnormlEvent:hover{
	text-decoration: underline !important;
}